@import "tailwindcss";

.container{
    max-width:1320px;
    margin:0 auto;
}
@theme {
  --font-geometria: 'Geometria', sans-serif;
}

@font-face {
font-family: 'Geometria'; /* Adını sadə saxla */
  src: url('/font/Geometria.otf') format('opentype')
}


